* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;

    .hero,
    .services,
    .case,
    .contact {
        scroll-margin-top: 4rem;
    }
}