@use '../variables';
@use '../mixins';

.navbar {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    // background-color: var(--bg-primary);

    a#home {
        display: flex;
        align-items: center;

        img {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
        }

        h3 {
            display: inline-block;
            font-size: 2rem;
            color: var(--bg-secondary);
            margin-left: 0.5rem;
        }
    }


    .menus {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        a {
            color: var(--bg-secondary);
            font-size: 1.1rem;
            transition: all 0.3s ease;

            &:hover {
                color: var(--bg-primary);
                text-shadow: 1px 1px 2px #000000;
            }

        }

        button {
            @include generalButton(none, var(--bg-secondary))
        }
    }
}