@media (max-width: 1131px) {
    .things {
        .content {
            text-align: center;
            justify-content: center;
            align-items: stretch;
        }

        img {
            display: none;
        }
    }
}